* {
  margin: 0px;
}
.q {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
}
.e {
  margin-top: 0px;
}
.r {
  display: flex;
  gap: 20px;
  align-items: center;
}
.y {
  width: 25px;
}
.h2 {
  text-decoration: none;
  color: #154212;
}
.j2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.u {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.i {
  border-radius: 24px;
  padding: 30px;
  border: 1px solid #e7e7e7;
  width: 30%;
}
.o {
  color: #154212;
  display: inline-block;
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #154212;
}
.p {
  border-bottom: 1px solid #e7e7e7;
}
.a {
  color: #42493e;
  border-bottom: none;
  margin-left: 20px;
}
.s {
  font-size: 14px;
  font-weight: 300;
  color: #42493e;
  margin-top: 30px;
}
.d {
  color: #6b7280;
  border-radius: 12px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #6b7280;
  width: 97%;
}
.d:focus {
  border: 1px solid #6b7280;
}
.f {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 100;
  color: #42493e;
}
.g {
  margin-left: 10px;
}
.h {
  background-color: #154212;
  color: white;
  font-size: 14px;
  font-weight: 300;
  width: 101%;
  border-radius: 12px;
  border: none;
  padding: 10px;
  margin-top: 25px;
}
.j {
  font-size: 14px;
  text-align: center;
  margin: 20px 0px;
  color: #42493e;
  font-weight: 100;
}
.k {
  border-radius: 12px;
  border: 1px solid #e7e7e7;
  color: black;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.l {
  width: 20px;
}
.z {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.x {
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}
.x span {
  color: #154212;
  text-decoration: underline;
}
.l2{
  display: none;
}
.a2 {
  color: #154212;
  font-size: 20px;
}
.s2{
  color: #42493e;
  font-size: 12px;
  font-weight: 100;
  margin: 5px 0px;
}
.d2{
  background-color: rgb(240, 240, 240);
  padding: 40px;
  margin-top: 5px;
  padding-bottom: 0px;
}
.f2{
  width: 23px;
  margin-top: 10px;
  display: inline-block;
  padding: 4px;
  border-radius: 50%;
  background-color: rgb(226, 226, 226);
}
.g2{
  margin-left: 10px;
}
.h2{
  text-decoration: none;
  color: #154212;
}
.j2{
  display: flex;align-items: center;
  gap: 20px;
}
.k2{
  font-size: 12px;
  color: #42493e;
  font-weight: 100;
  padding: 20px 0px;
  border-top: 1px solid #e3e3de;
  margin-top: 20px;
}
.l2{
  display: none;
}
.x2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c2{
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #154212;
  color: white;
}

@media (max-width: 640px) {
  .j2 {
    display: none;
  }
  .l2 {
    display: inherit;
    width: 25px;
  }
  .q{
    padding: 5px 10px;
  }
  .u{
    padding: 0px 10px;
  }
  .i{
    width: 75%;
    padding: 10px;
    border-radius: 15px;
  }
  .s{
    font-size: 11px;
    margin-top: 20px;
  }
  .d{
    width: 92%;
    padding: 10px;
    font-size: 10px;
    border-radius: 6px;
    border: 1px solid rgb(228, 228, 228);
  }
  .f{
    width: 10px;
  }
  .g{
    width: 200px;
    font-size: 12px;
    margin-top: -10px;
  }
  .h{
    width: 100%;
    font-size: 11px;
    border-radius: 8px;
  }
  .j{
    font-size: 12px;
  }
  .k{
    width: 130px;
    padding: 0px;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .l{
    width: 15px;
  }
  .x{
    font-size: 8px;
  }
}
