* {
  margin: 0px;
}
.q {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}
.w {
  width: 300px;
  border-radius: 30px;
  border: 1px solid #c2c9bb;
  background-color: #f4f4ee;
  padding: 10px 40px;
}
.e {
  margin-top: -20px;
}
.r {
  display: flex;
  gap: 20px;
  align-items: center;
}
.t {
  font-size: 14px;
  font-weight: 100;
}
.y {
  width: 25px;
}
.u {
  background-color: #bcf0ae;
  color: #23501e;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 20px;
  display: inline-block;
}
.i {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin: 20px 0px;
  color: #154212;
}
.o {
  font-size: 18px;
  color: #42493e;
  font-weight: 100;
  margin: 20px 0px;
}
.p {
  background-color: #154212;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  padding: 18px 30px;
  display: inline-block;
}
.a {
  color: #154212;
  border: 1px solid #154212;
  background-color: white;
  margin-left: 10px;
}
.s {
  background-color: #fafaf4;
  border-top: 1px solid #eeeee9;
}
.d {
  padding: 20px 40px;
}
.f {
  font-size: 28px;
  font-weight: 600;
  color: #154212;
}
.g {
  font-size: 14px;
  font-weight: 100;
  color: #42493e;
}
.h {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.j {
  width: 19%;
  text-align: center;
  color: #1a1c19;
}
.k {
  font-size: 20px;
  font-weight: 300;
}
.l {
  width: 100%;
}
.z {
  width: 100%;
}
.x{
  background-color: #fafaf4;
}
.c{
  width: 24%;
  border-radius: 16px;
  border: 1px solid rgb(241, 241, 241);
  background-color: white;
}
.v{
  padding: 10px;
}
.b{
  font-size: 18px;
}
.n{
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.m{
  font-size: 8px;
  font-weight: 900;
  padding: 2px 5px;
}
.q2{
  font-size: 10px;
  display: inline-block;
  font-weight: 500;
}
.w2{
  color: #154212;
  font-size: 17px;
  font-weight: 600;
  margin-top: -10px;
}