* {
  margin: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.q {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}
.w {
  width: 300px;
  border-radius: 30px;
  border: 1px solid #c2c9bb;
  background-color: #f4f4ee;
  padding: 10px 40px;
}
.e {
  margin-top: 0px;
}
.r {
  display: flex;
  gap: 20px;
  align-items: center;
}
.t {
  font-size: 14px;
  font-weight: 100;
}
.y {
  width: 25px;
}
.u {
  background-color: #bcf0ae;
  color: #23501e;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 20px;
  display: inline-block;
}
.i {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin: 20px 0px;
  color: #154212;
}
.o {
  font-size: 18px;
  color: #42493e;
  font-weight: 100;
  margin: 20px 0px;
}
.p {
  background-color: #154212;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  padding: 18px 30px;
  display: inline-block;
}
.a {
  color: #154212;
  border: 1px solid #154212;
  background-color: white;
  margin-left: 10px;
}
.s {
  background-color: #fafaf4;
  border-top: 1px solid #eeeee9;
}
.d {
  padding: 20px 40px;
}
.f {
  font-size: 28px;
  font-weight: 600;
  color: #154212;
}
.g {
  font-size: 14px;
  font-weight: 100;
  color: #42493e;
}
.h {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.j {
  width: 19%;
  text-align: center;
  color: #1a1c19;
}
.k {
  font-size: 20px;
  font-weight: 300;
}
.l {
  width: 100%;
}
.z {
  width: 100%;
}
.x {
  background-color: #fafaf4;
}
.c {
  width: 24%;
  border-radius: 16px;
  border: 1px solid rgb(241, 241, 241);
  background-color: white;
}
.v {
  padding: 10px;
}
.b {
  font-size: 18px;
}
.n {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.m {
  font-size: 8px;
  font-weight: 900;
  padding: 2px 5px;
}
.q2 {
  font-size: 10px;
  display: inline-block;
  font-weight: 500;
}
.w2 {
  color: #154212;
  font-size: 17px;
  font-weight: 600;
  margin-top: -10px;
}
.e2 {
  background-color: white;
}
.r2 {
  background-color: #154212;
  border-radius: 20px;
  color: white;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.t2 {
  font-size: 25px;
}
.y2 {
  font-size: 10px;
  font-weight: 100;
  color: #9dd090;
  margin: 10px 0px;
  margin-bottom: 20px;
}
.u2 {
  display: flex;
  gap: 5px;
}
.i2 {
  background-color: #1b5717f1;
  border: none;
  border-radius: 12px;
  border: #9dd090;
  color: #9dd090;
  width: 450px;
  padding: 15px 20px;
}
.o2 {
  background-color: white;
  color: #154212;
  padding: 15px 20px;
  border: none;
  border-radius: 12px;
}
.p2 {
  width: 190px;
}
.a2 {
  color: #154212;
  font-size: 20px;
}
.s2 {
  color: #42493e;
  font-size: 12px;
  font-weight: 100;
  margin: 5px 0px;
}
.d2 {
  background-color: rgb(240, 240, 240);
  padding-bottom: 0px;
}
.f2 {
  width: 23px;
  margin-top: 10px;
  display: inline-block;
  padding: 4px;
  border-radius: 50%;
  background-color: rgb(226, 226, 226);
}
.g2 {
  margin-left: 10px;
}
.h2 {
  text-decoration: none;
  color: #154212;
}
.j2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.k2 {
  font-size: 12px;
  color: #42493e;
  font-weight: 100;
  padding: 20px 0px;
  border-top: 1px solid #e3e3de;
  margin-top: 20px;
}
.l2 {
  display: none;
}
.x2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c2 {
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #154212;
  color: white;
}
@media (max-width: 640px) {
  .q {
    padding: 5px 10px;
  }
  .j2 {
    display: none;
  }
  .l2 {
    display: inherit;
    width: 25px;
  }
  .u {
    font-size: 8px;
  }
  .i {
    font-size: 15px;
    line-height: normal;
    margin-bottom: 0px;
  }
  .o {
    font-size: 10px;
    margin-top: 10px;
  }
  .z2 {
    width: 180px;
  }
  .s {
    padding: 50px 10px;
  }
  .p {
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 8px;
  }
  .a {
    margin-left: 5px;
  }
  .d {
    padding: 50px 10px;
  }
  .f {
    font-size: 18px;
  }
  .g {
    font-size: 12px;
  }
  .k {
    font-size: 12px;
  }
  .b {
    font-size: 6px;
    font-weight: 500;
  }
  .v {
    padding: 5px;
  }
  .m {
    font-size: 4px;
  }
  .q2 {
    font-size: 5px;
  }
  .w2 {
    font-size: 10px;
  }
  .c {
    width: 23%;
  }
  .c2 {
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 12px;
  }
  .x2 {
    align-items: center;
  }
  .r2 {
    border-radius: 10px;
    padding: 20px 10px;
  }
  .t2 {
    font-size: 12px;
  }
  .y2 {
    font-size: 5px;
    margin-top: 3px;
  }
  .i2 {
    width: 130px;
    height: 20px;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 6px;
  }
  .o2 {
    width: 70px;
    height: 23px;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 6px;
  }
  .p2 {
    width: 80px;
  }
  .a2 {
    font-size: 16px;
  }
  .d2 {
    padding: 20px 10px;
  }
  .s2 {
    font-size: 10px;
    font-weight: 100;
  }
  .f2 {
    width: 15px;
  }
  .k2 {
    font-size: 10px;
    padding-bottom: 0px;
  }
  .y{
    display: none;
  }
}
